In [1]:
list_number = [1, 2, 3, 4, 5, 6, 7]
new_number = [i ** 2 for i in list]
print(new_number)

TypeError: 'type' object is not iterable

In [86]:
list3 = ["Dahbia", "", "Sophie", "Manon", "", "Patrick"]
list4 = [a for a in list3 if a != ""]
print(list4)

#Fonctionne aussi avec list4 = list(filter(None, list3))

['Dahbia', 'Sophie', 'Manon', 'Patrick']

In [42]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2 = [a for a in list1 if a != 20]
print(list2)

[5, 15, 25, 50]

In [44]:
aTuple = (10, 20, 30, 40)
for i in aTuple:
    i = #alors là on décompose les potes
print(i)

SyntaxError: invalid syntax (<ipython-input-44-0835f1b658ea>, line 3)

In [84]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5] 
print(tuple2)

(44, 55)