In [2]:
classe = ["Sephora", "Cédric"]
eleve1 = classe[0]
eleve2 = classe[1]

print(eleve1, eleve2)

Sephora Cédric

In [5]:
classe = ["Sephora", "Cédric"]
classe = eleve1, eleve2
print(eleve1)
classe.index("Sephora")

Sephora

0

In [10]:
#Ajouter des valeurs dans des listes

#Append
#insert()

classe = ["Sephora", "Cédric"]
classe.insert(0,"Dahbia")
classe

['Dahbia', 'Sephora', 'Cédric']

In [16]:
#Retirer des valeurs d'une liste

classe = ["Sephora", "Cédric"]
classe.remove("Cédric")
classe

['Sephora']

In [18]:
#Trier des valeurs d'une liste

#méthode sort()
note = [20,12,14,9]
note.sort()
note

#Pour du texte, les majuscules sont prioritaires sur les minuscules
# classe.sort(reserve=True)
# Ou classe.reverse

[9, 12, 14, 20]

In [26]:
classe = ["Melissa", "Mabar"]
classe.reverse()
classe

['Mabar', 'Melissa']

In [28]:
lettres = ["A", "z", "a", "Z"]
lettres.sort(key=str.lower)
lettres

['A', 'a', 'z', 'Z']

In [31]:
classe = [
    "Jeanne",
    "Sonia"
]

classe

['Jeanne', 'Sonia']

In [34]:
# Données mutables et immutables

classe = "Alexandra"
classe[8] = "A"

TypeError: 'str' object does not support item assignment

In [39]:
classe = "Alexsdddddd"
new_classe = classe [:4] + "andra"
new_classe

'Alexandra'

In [43]:
#tuples 

ex_tuples = (["Alex", "Sonia", "Manon"])
print(ex_tuples)

#Les listes sont immutables
#Les tuples sont mutables

['Alex', 'Sonia', 'Manon']

In [46]:
classe = ["Alex", "Sonia", "Manon"] #les données à l'intérieur sont immutables LISTE
classe = ("Alex", "Sonia", "Manon") #Les données à l'intérieur sont mutables TUPLES

#Immutables 
#tuple() = données mutables
ex_tuple = tuple(classe) #mutable
type(ex_tuple)
ex_tuple

('Alex', 'Sonia', 'Manon')

In [48]:
 #Transformer une liste en tuple

transformation_tuple = tuple(classe)